node_modules
.DS_Store
.env
.env.*
!.env.example
apps/**/dist
apps/**/.expo
apps/**/web-build
apps/**/coverage
apps/**/build
apps/**/.env
apps/**/.env.*
apps/**/.firebase
apps/**/google-services.json
apps/**/android/app/google-services.json
apps/**/ios/GoogleService-Info.plist
coverage
